.headerWrapper
{
    background-color: #a0b3e2;
    overflow-x: hidden;
    font-size: 18px;
}
.headerLogo
{
    width: 55px;
    height: 50px;
    cursor: pointer;
}
.textalignRight
{
    text-align: right;
    background-color: #a0b3e2;
    padding-bottom: 5px;
}
.navButton 
{
    background-color: #fff;
    color: #011631;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid #fff;
    padding: 8px 15px;
    margin-top: 5px;
}
.navText
{
    color: #fff;
    margin-right: 20px;
    font-size: 18px;
    vertical-align: middle;
}
.heigth50px
{
    height: 50px;
}
.customUserNameDiv
{
    height: 100%;
    display: flex;
    align-items: center;
    text-align: right;
    justify-content: end;
}
.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* Style for the dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Style for the button to toggle the dropdown */
  .dropbtn {
    background-color: #6a4caf;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Style for the dropdown content (initially hidden) */
  .myDropdown {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 99;
    right: 0;
    text-align: left;
    border-radius: 5px;

  }
  
  /* Style for each item in the dropdown */
  .myDropdown a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #333;
  }
  
  /* Style for the items when hovered over */
  .myDropdown a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown when it's active */
  .myDropdown.show {
    display: block;
  }
