.footerWrapper
{
    position: relative;
    /* bottom: 0; */
    background-color: #4B0082;
    height: 60px;
    width: 100%;
    color: #fff;
    
}
.footerMain
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.footerText
{
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
}