<app-admin-header></app-admin-header>
<div class="addUserWrapper" [class.loading]="loading">
    <div class="addUserMain">
        <h2>Welcome, Admin!</h2>
  
        <!-- Add Promotion Form -->
        <form (ngSubmit)="addNewPromotion()" [formGroup]="addPromoForm" class="addUserForm">
            <!-- Promotion Code -->
            <div class="form-group">
                <label for="promoCode" class="labelTag">Promotion Code<span class="mandatory">*</span></label>
                <input class="form-element"
                    type="text"
                    id="promoCode"
                    formControlName="promoCode"
                    placeholder="Add Promotion Code"
                    required >
            </div>
            <!-- Promotion description -->
            <div class="form-group">
                <label for="promoDescription" class="labelTag">Promotion Description<span class="mandatory">*</span></label>
                <input class="form-element"
                    type="text"
                    id="promoDescription"
                    formControlName="promoDescription"
                    placeholder="Enter a Description"
                    required >
            </div>
  
            <!-- Availability Start Date -->
            <div class="form-group">
                <label for="startDate" class="labelTag">Starts From<span class="mandatory">*</span></label>
                <input class="form-element"
                    type="date"
                    id="startDate"
                    formControlName="startDate"
                    placeholder="Promotion Start Date"
                    [min]="minShowTime">
            </div>
            <!-- Availability End Date -->
            <div class="form-group">
                <label for="endDate" class="labelTag">Ends on<span class="mandatory">*</span></label>
                <input class="form-element"
                    type="date"
                    id="endDate"
                    formControlName="endDate"
                    placeholder="Promotion End Date"
                    [min]="minShowTime">
            </div>
            <!-- Discount Applied -->
            <div class="form-group" >
                <label for="discountApplied" class="labelTag">Discount Applied<span class="mandatory">*</span></label>
                <input class="form-element"
                    type="number"
                    id="discountApplied"
                    formControlName="discountApplied"
                    placeholder="Discount"
                    required>
            </div>
            <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 10px;">
                <button class="addButton" onclick="goHome()" matTooltip="Go to home page!">Return Home</button>
                <button type="submit" class="addButton" matTooltip="Add promotion to list!">Add Promotion</button>
              </div>
            <!-- Submit Button -->
            
        </form>
    </div>
    <div class="loader" *ngIf="loading"></div>
</div>
<app-admin-footer></app-admin-footer>