.addUserWrapper {
  background: #fff;
  width: 780px;
  padding: 20px; 
  border-radius: 5px; 
  color: grey;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
}

h2 {
  text-align:center;
  font-weight: 800;
  color: #011631;
  font-size: 30px;
}

.addUserForm {
  margin-bottom: 20px;
}

.addButton {
  color: #FFF;
  background-color: #3c579e;
  padding: 12px 20px;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 auto;
  display: block;

}

.addButton:hover {
  background-color: #011631;
}

.addUserForm label {
  font-weight: 500;
  color: #011631;
}

.form-group {
  margin-bottom: 20px;
}

.form-element {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


