<div class="swiper-container movieSwipper" [swiper]="config">
  <div class="swiper-wrapper movieSwipperWrapper">
    <div class="swiper-slide" *ngFor="let movie of movieList">
      <!-- Image that the user clicks -->
      <div class="imgContainer" (click)="openIframeDialog(movie)">
        <img class="movieBannerImg" [src]="movie.bannerSrc">
      </div>
    </div>
  </div>

  <!-- Add Pagination -->
  <div class="swiper-pagination PaginationStyles"></div>

  <!-- Add Navigation Buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
<style>
  .imgContainer {
    width: 100%;
    height: auto;
    padding: 10px; /* Adjust padding as needed */
    box-sizing: border-box; /* Ensure padding doesn't affect width */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .movieBannerImg {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
</style>