
<app-header></app-header>
<div class="bigcontainer">
<div class="container">
    <h1>Order Confirmation</h1>
    <p>You're all set! See you soon</p>

    <div class="order-summary">
        <p>Booking Number: <span></span></p>
        <p>Movie: <span>{{ orderConfirmationData.movie.movieTitle }}</span></p>
        <p>Show Date: <span>{{ orderConfirmationData.show.showDate }}</span></p>
        <p>Show Time: <span>{{ getFormattedShowTime(orderConfirmationData.show.showTime) }}</span></p>
        <p>Seats Selected: <span>{{ getSeatNumbers(orderConfirmationData.tickets) }}</span></p>
        <p>Total Price: <span>${{ totalTicketPrice | number:'1.2-2' }} (Inclusive of $2.99 Taxes and $2 Online Charges)</span></p>
    </div>

    <button class="addBtn" (click)="goHome()" matTooltip="Go to home page!" matTooltip="Go back!">Return Home</button>
</div>
</div>
<app-footer></app-footer>

