body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    min-height: 90vh;
    background: linear-gradient(to bottom, #93a9e1, #010e1e);
}

.bigcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    min-height: 90vh;
    background: linear-gradient(to bottom, #93a9e1, #010e1e);
}

.container {
    width: 60%;
    margin: 2em auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 50px;
    overflow: hidden;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #010e1e;
    text-align: center;
}

p {
    font-size: 1.2em;
    margin: 10px 0;
    color: #010e1e;
    text-align: center;
}

.order-summary {
    margin: 2em 0;
}

.order-summary p {
    margin: 0;
}

.order-summary p span:first-child {
    display: inline-block;
    width: 150px; /* Adjust as needed */
    text-align: left;
    font-weight: bold;
}

.order-summary p span:last-child {
    display: inline-block;
    text-align: right;
    margin-left: 20px; /* Adjust as needed */
    min-width: 200px; /* Adjust as needed */
}

.addBtn {
    color: #fff;
    background-color: #a0b3e2;
    padding: 10px 20px;
    text-align: center;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    display: block;
    margin: 20px auto 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.addBtn:hover {
    background-color: #011631;
}

.order-summary {
    margin: 2em 0;
    padding: 1.5em;
    border: 1px solid #565151;
    border-radius: 8px;
    text-align: left; /* Align text to the left */
}

.order-summary p {
    margin: 10px 0; /* Adjust margin as needed */
    line-height: 1.6; /* Adjust line height as needed */
}

.order-summary p span:first-child {
    font-weight: bold;
}

.order-summary p span:last-child {
    float: right;
}
