.loginWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #011631;
}

.loginMain {
  text-align: center;
}

.login-container {
  background: rgba(128, 128, 128, 0.5); 
  width: 380px;
  padding: 20px; 
  border-radius: 5px; 
  color: #fff; 
  margin: auto;
}

.logoImgDiv {
  width: 70px;
  height: 70px;
  margin: auto;
  text-align: center;
}

.loginField {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 5px;
}

.login-container .form-group {
  color: #ffffff;
}

.labelTag {
  font-weight: 600;
  color: #a0b3e2;
}

.login-container input[type="text"],
.login-container input[type="password"] {
  width: 100%;
  padding: 10px 0px;
  margin-bottom: 15px;
  border: unset;
  border-bottom: 1px solid #ccc;
  border-radius: 3px;
  color: black;
}

.login-container input:focus-visible {
  border: unset;
  outline: unset;
  border-bottom: 1px solid #ccc;
}

.login-container input::placeholder {
  opacity: 0.7;
}

.login-container button {
  background: #a0b3e2; 
  color: #fff; 
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.login-container button:hover {
  background: #011631;
}

.forgot-password,
.noAccount {
  color:#ffffff;
}

.error-message {
  color: #ff0000;
  font-size: 14px;
  margin-top: 5px;
}

.confirmation-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmation-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  position: relative;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.confirmation-text {
  font-size: 20px;
  font-weight: bold;
  color: green;
  margin-bottom: 10px;
}

.confirmation-text-2 {
  font-size: 16px;
}

.error-content {
  background-color: #fff;
  position: relative;
  border-radius: 5px;
  padding: 20px;
  color: red;
  text-align: center;
  width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.error-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1000; /* Ensure it's above other elements */
}

.error-modal-container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  position: relative; /* Relative positioning for close button */
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #999;
}

.error-message-text {
  color: #ff0000;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.error-text-2 {
  color: #000;
  margin-bottom: 20px;
}

.supClass {
  color: #f62e2e;
  font-size: 90%;
  top: -0.3em;
}

.forgotPassword {
  display: block;
  margin-top: 20px;
  color: #a0b3e2;
  cursor: pointer;
}

.noAccountDiv {
  display: block;
  margin-top: 5px;
  color: #a0b3e2;
  cursor: pointer;
}

.rememberMeDiv {
  display: flex;
}

.rememberMeDiv input {
  width: 10px;
  margin-right: 10px;
  margin-top: 0;
}

.rememberMeDiv label {
  margin-bottom: 0;
}

.flexBtns {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.flexBtns button {
  margin-right: 10px;
  background: #a0b3e2;
}

.flexBtns button {
  background-color: #a0b3e2;
}
