<div class="loginWrapper">
  <div class="loginMain">
    <div class="login-container">
      <div class="logoContainer">
        <img src="{{ logoImg }}" class="logoImgDiv" alt="Logo">
      </div>
      <p class="loginField">Reset your old Password</p>
      <form (ngSubmit)="resetPassword()" [formGroup]="signupForm">
          <!-- Password -->
          <div class="form-group">
              <label for="password" class="labelTag">Create Password <sup class="supClass">*</sup></label>
              <input
                  type="password"
                  id="password"
                  name="password"
                  formControlName="password"
                  placeholder="Create a password"
                  required
              >
              <div *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched" class="error-message">
                  Password must be 8 characters minimum and include at least one letter and one number.
              </div>
          </div>

          <!-- Confirm Password -->
          <div class="form-group">
              <label for="confirmPassword" class="labelTag">Confirm Password <sup class="supClass">*</sup></label>
              <input
                  type="password"
                  id="confirmPassword"
                  name="confirmPassword"
                  formControlName="confirmPassword"
                  placeholder="Confirm your password"
                  required
              >
              <div *ngIf="signupForm.hasError('passwordMismatch')" class="error-message">
                  Passwords must match.
              </div>
          </div>
        <button type="submit" class="login-button" [disabled]="signupForm.invalid" matTooltip="Reset the password!">Reset</button>
      </form>
      <div *ngIf="isResetSuccessful" class="confirmation-modal">
        <div class="confirmation-content">
          <span class="close-icon">&times;</span>
          <h2 class="confirmation-text">
            Login successful!
          </h2>
          <p class="confirmation-text-2">
            Please wait while we redirect you to the login page.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
