
    <!-- <button mat-icon-button (click)="closeDialog()" style="position: absolute;top: 0;right: 0;width: 20px;height: 20px;">
      <mat-icon>close</mat-icon>
    </button> -->
<div class="dialogBox" style="text-align: right;">

<img src="{{closeIcon}}" (click)="closeDialog()" class="closeIconImg">

<iframe width="100%" height="500" [src]="sanitizeUrl(iframeUrl)" frameborder="0" allowfullscreen style="margin-top: 15px;"></iframe>
<!-- <button mat-button (click)="closeDialog()" style="color: #FFF;background-color: #3180AC;padding: 15px;text-align: center;border: unset;border-radius: 10px;outline: unset;">Close</button>
     -->
</div>
