<div class="movieListWrapper">
    <div class="navigationWrapper">
        <div class="movieCategory">
            <button class="categoryBtn" (click)="setActiveCategory('nowPlaying')" matTooltip="Click here for current movies!" [class.active]="activeCategory === 'nowPlaying'" >Now Playing</button>
            <button class="categoryBtn" matTooltip="Click here for new/upcoming movies!" (click)="setActiveCategory('upcoming')" [class.active]="activeCategory === 'upcoming'" >Upcoming Movies</button>
        </div>        
        <div class="searchWrapper">
            <div class="searchBar">
                <img src="{{searchLogo}}" class="searchImg">
                <input class="searchText" type="text" placeholder="Search Movies" [(ngModel)]="searchText" (change)="changedSearchText()">
                
                <!-- <span >Search Movies</span> -->
            </div>
            <button class="searchBtn" matTooltip="look for movie!" matTooltipPosition="above">Search</button>
        </div>
        <div class="filterWrapper">
            <img src="{{filterLogo}}" class="filterImg">
            <span style="margin-left: 5px;">Filter</span>
        </div>
    </div>
</div>

<app-nowshowinglist *ngIf="activeCategory === 'nowPlaying'" [movies]="getNowShowingMovies()"></app-nowshowinglist>
<app-upcominglist *ngIf="activeCategory === 'upcoming'" [movies]="getUpcomingMovies()"></app-upcominglist>




