.nowShowingWrapper {
    margin: 20px;
    overflow-x: hidden;
}

.nowShowingWrapper .col-md-3 {
    cursor: pointer;
    margin-top: 10px;
}

.nowShowingPoster {
    width: 230px;
    height: 310px;
    border-radius: 5px;
}

.nowShowingCards {
    border: 1px solid #a0b3e2; /* Purple-black */
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: 1px 1px 3px 2px #c1d8e6;
}

:host ::ng-deep .width24per {
    width: 24%;
    margin-left: 5px;
}

.bookTicketBtn {
    background-color: #a0b3e2; /* Purple-black */
    color: #FFF; /* White */
    padding: 8px 10px;
    font-weight: 500;
    border: unset;
    border-radius: 10px;
    margin-top: 10px;
}

.bookTicketBtn:hover {
    background-color: #011631;
}

.movieInfo {
    margin-top: 10px;
    text-align: left;
}

.movieInfo p {
    margin: 0;
    font-weight: 600;
    text-align: left;
}

.movieTitle {
    font-weight: 900 !important;
}
