<div class="movieListWrapper">
  <div class="navigationWrapper" style="display: flex; justify-content: space-between; align-items: center; padding-bottom: 10px;">
    <div class="movieCategory">
      <button class="categoryBtn" (click)="setActiveCategory('nowPlaying')" [class.active]="activeCategory === 'nowPlaying'"matTooltip="Click for current movies!">Now Playing</button>
      <button class="categoryBtn" (click)="setActiveCategory('upcoming')" [class.active]="activeCategory === 'upcoming'" matTooltip="Click for new/upcoming movies!">Upcoming Movies</button>
    </div>
    <div class="searchWrapper" style="margin: 0 10px;">
      <div class="searchBar" style="display: flex;">
        <img src="{{searchLogo}}" class="searchImg" style="margin-right: 5px;">
        <input class="searchText" type="text" placeholder="Search Movies" [(ngModel)]="searchText" (change)="changedSearchText()">
      </div>
      <button class="searchBtn" (click)="searchValueChanged($event)" matTooltip="look for movie!">Search</button>
    </div>
    <div class="filterWrapper" (click)="toggleFilterDropdown($event)" (change)="changedFilterCategory()" style="margin-left: auto;">
      <div class="filter-dropdown" (click)="$event.stopPropagation()" style="display: flex; align-items: center;">
        <mat-form-field>
          <mat-label>
            <div class="custom-trigger" style="display: flex; align-items: center;">
              <img src="{{filterLogo}}" class="filterImg" style="margin-right: 5px;">
              <span style="margin-left: 5px;">Filter</span>
            </div>
          </mat-label>
          <mat-select [(ngModel)]="selectedCategories" (ngModelChange)="applyFilters()" multiple>
            <mat-option *ngFor="let category of categories" [value]="category">
              {{ category }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>

<div *ngIf="activeCategory === 'nowPlaying'">
  <div *ngIf="noResultsFound; else nowPlayingResults" class="nowShowingWrapper">
    <p class="noMessage">No movies found.</p>
  </div>
  <ng-template #nowPlayingResults>
    <div class="row text-center marB5" style="display: flex; justify-content: space-between; flex-wrap: wrap;">
      <div class="col-md-3 width24per" *ngFor="let movie of filteredMovies" >
        <div class="card nowShowingCards" (click)="toggleShadowEffect($event)" *ngIf="movie.movieAvailability === 'CURRENTLY_RUNNING'" [routerLink]="['/viewmovieinfo', movie.movieTitle]" style="background-color: #b0c6e0; color: #FFF ">
          <div class="imgContainer">
            <img src="{{movie.posterSrc}}" class="nowShowingPoster">
          </div>
          <div class="movieInfo" style=" color: #000 ">
            <p class="movieTitle">{{movie.movieTitle}}</p>
            <p class="movieReleaseDate">Release Date: <span>{{movie.releaseDate}}</span></p>
            <p class="movieRating"> Rating: <span>{{movie.rating}} </span> / 10</p>
            <button class="bookTicketBtn" [routerLink]="['/buy-tickets', movie.movieTitle]" matTooltip="Just book it!">Book Ticket</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>

<div *ngIf="activeCategory === 'upcoming'">
  <div *ngIf="noResultsFound; else upcomingResults" class="upComingWrapper">
    <p class="noMessage">No movies found.</p>
  </div>
  <ng-template #upcomingResults>
    <div class="row text-center marB5" style="display: flex; justify-content: space-between; flex-wrap: wrap;">
      <div class="col-md-3 width24per" *ngFor="let movie of filteredMovies">
        <div class="card upComingCards" (click)="toggleShadowEffect($event)" *ngIf="movie.movieAvailability === 'COMING_SOON'" [routerLink]="['/viewmovieinfo', movie.movieTitle]" style="background-color: #b0c6e0; color: #FFF ">
          <div class="imgContainer">
            <img src="{{movie.posterSrc}}" class="upComingPoster">
          </div>
          <div class="movieInfo" style=" color: #000 ">
            <p class="movieTitle">{{movie.movieTitle}}</p>
            <p class="movieReleaseDate">Release Date: <span>{{movie.releaseDate}}</span></p>
            <p class="movieRating"> Certification: <span>{{movie.movieCertificationCode}} </span></p>
            <button class="bookTicketBtn" [routerLink]="['/viewmovieinfo', movie.movieTitle]" matTooltip="See details!">View Movie Info</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>