.movieHeader
{
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  margin: 0 10px;
  justify-content: center;
}
.rightText
{
  text-align: right;
}
.movieHeader h4
{
  font-weight: 900;
  margin-bottom: 0;
}
.addButton
{
  color: #FFF;
  background-color: #4B0082;
  padding: 10px 15px;
  text-align: center;
  border: unset;
  border-radius: 10px;
  margin-bottom: 15px;
}

.addButton:hover {
  background-color: #744a95;
}

.moviesListManage
{
margin-top: 20px;
}
.leftText
{
text-align: left;
}

.manageMoviesButton-container .form-group {
  text-align: left;
}

.manageMoviesButton-container button {
  background-color: #4B0082;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.listItem a
{
  cursor: pointer;
}


.editMoviePopup {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
z-index: 1000;
}

.popupOverlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.5);
z-index: 1001;
}

.popupContent {
background: #fff;
padding: 20px;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
z-index: 1002;
width: 80%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 85%;
  text-align: left;
}

.btnsWrapper
{
display: flex;
margin-top: 15px;
}
.marR15
{
margin-right: 15px;
}
.addMovieForm .mb-3
{
margin-bottom: 10px;
}

.showDateP
{
font-weight: bold;
margin-top: 5px;
margin-bottom: 2px;
}
.side-by-side {
/* display: flex; */
margin-right: 10px; /* Adjust the margin as needed */
}
.dsplyflx
{
display: flex;
}
.flexBtns
{
  display: flex;
  /* justify-content: end; */
}
.width20per
{
width: 20%;
}
.schedulePopup
{
height: auto;
width: 45%;
}
.showTimeBtns
{
border: unset;
outline: unset;
background: transparent;
}
.showTimeBtns i
{
color: #4B0082;
}
.confirmation-text-2 {
font-size: 16px;
}
/* Style for disabled buttons with a specific class */
.login-container button:disabled {
background-color: #ccc; /* Change the background color */
color: #000; /* Change the text color */
cursor: not-allowed; /* Change the cursor to indicate it's not clickable */
}
/* Style for error content */
.error-content {
background-color: #fff;
position: relative;
border-radius: 5px;
padding: 20px;
color: red;
text-align: center;
width: 400px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Style for error modal */
.error-modal {
display: flex;
justify-content: center;
align-items: center;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
z-index: 1000; /* Ensure it's above other elements */
}

/* Style for error modal container */
.error-modal-container {
background-color: #fff;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
padding: 20px;
text-align: center;
position: relative; /* Relative positioning for close button */
}

/* Style for close button in error modal */
.close-icon {
position: absolute;
top: 10px;
right: 10px;
cursor: pointer;
font-size: 20px;
color: #999;
}

/* Additional styles for error message text */
.error-message-text {
color: #ff0000;
font-size: 16px;
margin-top: 10px;
margin-bottom: 20px;
}
.error-text-2
{
color: #000;
margin-bottom: 20px;
}
