.signUpWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  min-height: 90vh;
  background: linear-gradient(to bottom, #93a9e1, #010e1e);
}

.signUpMain {
  text-align: center;
}

.signUp-container {
  background: white; /* Match background color */
  width: 780px; /* Match width */
  padding: 20px; /* Match padding */
  border-radius: 5px; /* Match border-radius */
  color: #010e1e; /* Match text color */
  margin: auto; /* Center the container */
  font-size: 18px;
}
.signUpForm
{
  height: 150px;
  overflow-y: scroll;
  padding: 0 20px;
}
/* For WebKit browsers (Chrome, Safari) */
.signUpForm::-webkit-scrollbar {
  width: 6px; /* Set the width of the scrollbar */
}

.signUpForm::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2); /* Set the color of the scrollbar thumb */
  border-radius: 3px; /* Round the corners of the thumb */
}

.logoImgDiv
{
  width: 70px;
  height: 70px;
  margin: auto;
  text-align: center;
}

.signUpField
{
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 5px;
}

.signUp-container .form-group {
  text-align: center;
  color: #011631;
}
.labelTag
{
  font-weight: 600;
}

.signUp-container input,
.signUp-container input {
  width: 100%;
  padding: 10px 0px;
  margin-bottom: 15px;
  border: unset;
  border-bottom: 1px solid #ccc;
  border-radius: 3px;
}
.signUp-container input:focus-visible
{
  border: unset;
  outline: unset;
  border-bottom: 1px solid #ccc;
}
.signUp-container input::placeholder {
  color: grey;
  opacity: 0.7; 
}
.signUp-container button {
  background-color: #a0b3e2;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 10px;
}

.signUp-container button:disabled {
  background-color: #ccc; /* Change the background color */
  color: #000; /* Change the text color */
  cursor: not-allowed; /* Change the cursor to indicate it's not clickable */
}

.signUp-container button:hover {
background: #011631;
}
.subscribeDiv
{
  display: flex;
}
.subscribeDiv input
{
  width: 10px;
  margin-right: 10px;
}

.hasAccount
{
  margin-top: 10px;
  margin-bottom: 10px;
}
.error-message {
  color: #ff0000; 
  font-size: 14px; 
  margin-top: 5px; 
}

.form-group .error-message {
  font-size: 12px; 
}

/* .confirmation-message {
  margin-top: 10px;
  color: green;
} */

/* Style the confirmation modal */
.confirmation-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's above other content */
}

.confirmation-content {
  background-color: #fff;
  position: relative;
  border-radius: 5px;
  padding: 20px;
  color: rgb(128, 0, 0);
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.confirmation-text {
  margin-top: 20px;
  margin-bottom: 20px;
}
.confirmation-text-2
{
  color: #000;
  margin-bottom: 20px;
}
/* Close Icon */
.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

/* Display the modal when isAccountCreationSuccessful is true */
.signUp-container.ng-reflect-isAccountCreationSuccessful .confirmation-modal {
  display: flex;
}
.error-content {
  background-color: #fff;
  position: relative;
  border-radius: 5px;
  padding: 20px;
  color: red;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.supClass
{
  color: #f62e2e;
  font-size: 90%;
  top: -0.3em;
}
.flexBtns
{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.flexBtns button
{
  margin-right: 10px;
}