.signUpWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #93a9e1, #010e1e)
}

.signUpMain {
  text-align: center;
}

.signUp-container {
  width: calc(100% - 20px);
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px 0;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
}
.signUpForm
{
  height: 100%;
  padding: 0 20px;
}

.logoImgDiv
{
  width: 70px;
  height: 70px;
  margin: auto;
  text-align: center;
}

.signUpField
{
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 5px;
}

.signUp-container .form-group {
  text-align: left;
}
.labelTag
{
  font-weight: 1000px;
}

.signUp-container input,
.signUp-container input {
  width: 100%;
  padding: 10px 0px;
  margin-bottom: 15px;
  border: unset;
  border-bottom: 1px solid #ccc;
  border-radius: 3px;
  color: #505e80;
}
.signUp-container input:focus-visible
{
  border: unset;
  outline: unset;
  border-bottom: 1px solid #ccc;
}
.signUp-container input::placeholder {
  color: #424d6a;
  opacity: 0.7; 
}
.signUp-container button {
  background-color: #a0b3e2;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 10px;
}

.signUp-container button:hover {
  background-color: #424d6a;
  color: white;
}
.subscribeDiv
{
  display: flex;
}
.subscribeDiv input
{
  width: 10px;
  margin-right: 10px;
}

.hasAccount
{
  margin-top: 10px;
  margin-bottom: 10px;
}
.error-message {
  color: red; 
  font-size: 14px; 
  margin-top: 5px; 
  font-weight: 800;
}

.form-group .error-message {
  font-size: 12px; 
}

.confirmation-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's above other content */
}

.confirmation-content {
  background-color: #fff;
  position: relative;
  border-radius: 5px;
  padding: 20px;
  color: green;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.confirmation-text {
  margin-top: 20px;
  margin-bottom: 20px;
}
.confirmation-text-2
{
  color: #000;
  margin-bottom: 20px;
}
/* Close Icon */
.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

/* Display the modal when isAccountCreationSuccessful is true */
.signUp-container.ng-reflect-isAccountCreationSuccessful .confirmation-modal {
  display: flex;
}
.error-content {
  background-color: #fff;
  position: relative;
  border-radius: 5px;
  padding: 20px;
  color: red;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.supClass
{
  color: red;
  font-size: 90%;
  top: -0.3em;
}
.alreadyAccount
{
  display: block;
  margin-top: 20px;
  color: #a0b3e2;
  cursor: pointer;
  
}
.flexBtns
{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.flexBtns button
{
  margin-right: 10px;
}


/* Loader styles */
.loader {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(255, 255, 255, 0.8);
display: flex;
align-items: center;
justify-content: center;
z-index: 9999;
}

.loader::after {
content: '';
border: 4px solid #a0b3e2;
border-radius: 50%;
border-top: 4px solid #fff;
width: 30px;
height: 30px;
animation: spin 1s linear infinite;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}