.orderHistoryDiv {
    min-height: 85vh;
    font-size: 18px;
}

.activeOrdersList,
.pastOrdersList {
    width: 800px;
    background: rgba(128, 128, 128, 0.5);
    border-radius: 5px;
    margin: 30px auto;
    padding: 15px;
    text-align: center; /* Centering the text */
    color: #a0b3e2; /* Making the text white */}

.orderDetails {
    background: #fff;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}
