.orderHistoryDiv {
    min-height: 85vh;
    font-size: 18px;
    padding-top: 40px;
    background: linear-gradient(to bottom, #93a9e1, #010e1e);
}

.activeOrdersList,
.pastOrdersList {
    width: 800px;
    background: white;
    border-radius: 5px;
    margin: 30px auto;
    padding: 15px;
    text-align: center; 
    color: #010e1e 
}

.orderDetails {
    background: #fff;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}
