<app-header></app-header>
<div class="bigcontainer">
<div class="container">
  <h1 class="order-summary-title">Order Summary</h1>

  <div *ngFor="let ticket of tickets; let i = index" class="formDiv">
    <div>
      Movie: {{ ticket.movieTitle }}
    </div>
    <div>
      Show Time: {{ ticket.showTime }}
    </div>
    <div>
      Seat: {{ ticket.seat }}
    </div>
    <div>
      Age: {{ ticket.age }}
    </div>
    <div>
      Price: {{ ticket.price }}
    </div>
    <button (click)="deleteTicket(i)" caption="deleteTicket" matTooltip="Remove the movie!">Delete</button>
    <hr>
  </div>
  <div class="totalOrderPrice">
    <h2>Total: $20</h2>
  </div>

  <div class="actions">
    <button (click)="updateOrder()" caption="updateOrder" matTooltip="Update your list!">Update Order</button>
    <button (click)="checkout()" caption="checkout" matTooltip="Almost there!">Proceed to Checkout</button>
  </div>
</div>
</div>
<app-footer></app-footer>